{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="col-md-8 m-auto">
        <div class="content-section">
            <h2>About DIU Social</h2>
            <p>DIU Social is an exclusive social networking platform designed for Daffodil International University
                students and teachers. Our app aims to provide a secure and seamless connection among the DIU community,
                fostering a vibrant digital space for communication, collaboration, and inspiration.</p>
            <p>With DIU Social, you can stay connected with your fellow students and teachers, share ideas, and engage
                in meaningful discussions. Whether you're seeking academic assistance, looking for project
                collaborators, or simply want to connect with like-minded individuals, our platform offers the perfect
                virtual environment to connect and engage with your peers.</p>
            <p>We prioritize your privacy and security, ensuring that your personal information and interactions are
                protected. Our robust security measures and strict data privacy policies create a trustworthy space
                where you can freely express yourself and build valuable connections within the DIU community.</p>
            <p>Join DIU Social today and unlock a world of possibilities. Embrace the power of technology to connect,
                learn, and grow together. Experience the synergy of a strong network and unleash your potential within
                the Daffodil International University community.</p>
            <p>Together, let's shape the future, one connection at a time.</p>

        </div>
    </div>


{% endblock %}